@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: white;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card{
  position: relative;
  min-width: 290px;
  max-width: 400px;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 15px 15px 0px rgb(171, 171, 171);
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    max-width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(to top, #ffffff 35%, transparent 100%);
        display: inline-grid;
    .movie_header{
      display: flex;
      justify-content: flex-start;
      padding: 25px;
      height: 40%;
      width: 100%;
      margin-top: 85px;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: inline-block;
        margin-left: 10px;
      }
      .locandina{
        margin-right: 20px;
        height: 140px;
    width: 100px;
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
      width: 100%;
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
    background-color: white;
    width: 100%;
    background-position: 50% 50% !important;  
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

.flex-display {
  display: flex;
  justify-content: space-evenly;
  padding: 0 !important;
}

h3{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dash {
  position: fixed;
    top: calc(57px + 3rem);
    right: 0;
    text-align: center;
    padding-right: 30px;
}

.dash img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
  border: 2px solid gray;
}

.dash h2 {
  font-weight: bold;
}

.dash h4 {
  font-weight:lighter;
}

.col-9 {
  border-right: 2px solid grey;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-6, .col-xxl-4 {
  padding: 20px 10px;
}
.col-3 {
  background-color: rgb(244, 244, 244);
}

.edit {
  position: relative;
  top: 63px;
  right: 48px;
  font-size: x-large;
  color: white;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  font-size:x-large;
  cursor: pointer;
  transform: rotate(-90deg);
}

@media screen and (max-width: 1000px) {
  .dash{
    padding-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .dash{
    padding-right: 15px;
  }
}

@media screen and (max-width: 750px) {
  .dash{
    padding-right: 10px;
  }
  .dash img{
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .dash h4{
    font-size: small;
  }
}

@media screen and (max-width: 500px) {
  .col-3{
    display: none;
  }
  .col-9{
    border: none;
  }
  .row{
    justify-content: center;
  }
}