@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: white;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.col-4{
  padding-bottom: 40px;
}

.logo-align {
  display: flex;
    align-items: center;
} 

.nav-icons{
  font-size: xx-large;
  padding-right: 0 !important;
}

nav{
  box-shadow: 0px 3px 15px 0px rgb(201, 201, 201);
  background-color: rgb(244, 244, 244);
  height: 65px;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  flex-wrap: nowrap;
  button{
   min-width: 40px;
  }
}
.navbar-brand {
  font-size: 27px;
}

.nav-space{
    margin-top: 3.5rem;
  }

img{
  width: 60px;
  margin: 10px;
}

@media screen and (max-width: 550px) {
  img{
    width: 50px;
    margin: 9px;
  }
  .navbar-brand {
    font-size: 24px;
  }
}
@media screen and (max-width: 509px) {
  img{
    width: 50px;
    margin: 8px;
  }
  .navbar-brand {
    font-size: 22px;
  }
  h2{
    font-size: 20px;
  }
}
@media screen and (max-width: 494px) {
  img{
    width: 50px;
    margin: 8px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  h2{
    font-size: 17px;
  }
}
@media screen and (max-width: 457px) {
  h2{
    width: 80px;
    font-size: 17px;
  }
}