.col-4{
    padding-bottom: 40px;
  }
  
  .logo-align {
    display: flex;
      align-items: center;
  } 
  
  .nav-icons{
    font-size: xx-large;
    padding-right: 0 !important;
  }
  
  nav{
    box-shadow: 0px 3px 15px 0px rgb(201, 201, 201);
    background-color: rgb(244, 244, 244);
    height: 65px;
    justify-content: space-between;
    button{
     min-width: 40px;
    }
  }
  .navbar-brand {
    font-size: 27px;
  }
  
  mat-icon{
    padding-right: 30px;
  }

  /* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  