<div class="movie_card h-100">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" src='{{item.photo}}' />
        <div>
          <h1>{{item.name}}</h1>
          <h4>{{item.year}} | {{item.runTime}} min</h4>
          <span *ngFor="let category of item.category">{{category}} </span>
        </div>
      </div>
      <div class="movie_desc">
        <p class="text">
          {{item.description | slice: 0 : 100}}...
        </p>
      </div>
      <div class="movie_social">
        <ul>
          <li *ngIf="!show"><i class="material-icons" appSaveMovie
              (click)="addToRemove('add')"></i></li>
          <li *ngIf="show"><i class="material-icons"
              style="font-size:x-large; color: black; cursor: pointer;" (click)="addToRemove('remove')"></i></li>
          <li><i class="material-icons" appSaveMovie style="font-size:x-large;"
              [routerLink]="['/details', item.id]">more_vert</i></li>
        </ul>
      </div>
    </div>
    <div class="blur_back" style="background: url('{{item.photo}}'); background-size: cover;"></div>
  </div>
