.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.7s
  }
  
  @keyframes animatetop {
    from { visibility: hidden; opacity:0}
    to {visibility: visible;  opacity:1}
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  
  h1{
    padding-top: 15px;
  }

  mat-form-field{
    display: block;
    padding: 0 10px;
  }

  .inline{
    display: flex;
      justify-content: space-between;
  }

  input[type=file]::file-selector-button {
    border: none;
    background: #084cdf;
    padding: 13px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    font-size: initial;
    margin-top: 6px;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  input[type=file] {
    font-size: 0; }

  .photoInput{
    display: flex;
  }
