@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  background: white;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.col-xs-12, .col-sm-12, .col-md-6, .col-lg-4, .col-xxl-3{
  padding: 20px 10px;
text-align: -webkit-center;
}

.movie_card{
  position: relative;
  min-width: 290px;
  max-width: 400px;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 15px 15px 0px rgb(171, 171, 171);
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    max-width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      display: flex;
      justify-content: flex-start;
      padding: 25px;
      height: 40%;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: inline-block;
        margin-left: 10px;
      }
      .locandina{
        margin-right: 20px;
        height: 140px;
    width: 100px;
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
         
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
    background-color: white;
  }
}


  .movie_header_slider{
    width: 65%;
  }
  
  .movie_desc_slider{
    width: 50%;
  }
  
  .info_section_slider{
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }
  
  .blur_back_slider{
    width: 80%;
    background-position: -100% 10% !important;  
  }
    .movie_card{
        min-height: 350px;
        height: auto;
      }
      
      .blur_back{
        width: 100%;
        background-position: 50% 50% !important;  
      }
      
      .movie_header{
        width: 100%;
        margin-top: 85px;
      }
      
      .movie_desc{
        width: 100%;
      }
      
      .info_section{
        background: linear-gradient(to top, #ffffff 35%, transparent 100%);
        display: inline-grid;
      }


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

.movie_card_slider{
  position: relative;
  display: block;
  max-width: 800px;
  min-width: 400px;
  z-index: -1;
  height: 350px;
  margin: 80px auto; 
  overflow: hidden;
  border-radius: 10px;
  .info_section_slider{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header_slider{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      .minutes_slider{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type_slider{
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina_slider{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
      }
    }
    .movie_desc_slider{
      padding: 25px;
      height: 50%;
      .text{
        color: #545454;
      }
    }
    .movie_social_slider{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          margin: 0 10px;
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back_slider{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

.flex-display {
  margin-top: -30px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 !important;
}

h3{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

mat-slider{
 width: 80%;
}

.year{
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.filter{
  padding: 75px 0;
  width: 300px;
}

::ng-deep .cdk-overlay-container{
  z-index: 9999;
}

.modal-dialog{
  margin: 5% auto !important;
}

mat-form-field{
  display: block;
  padding-top: 0;
}

.modal-title{
  margin: 0
}

.inline{
  display: flex;
    justify-content: space-between;
}
.block{
  display: block;
}

.carousel{
  max-width: 800px;
  min-width: 400px;
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .flex-display{
    display: block;

  }
  .filter{
    padding: 0;
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .movie_desc_slider{
    display: none;}
    .movie_card_slider{
    .info_section_slider{
  .movie_header_slider{
  .locandina_slider{
    position: relative;
       float: none;
        margin: 20px;
        height: 120px;
  }}}}
}