<div class="container-fluid flex-display">
  <div id="carouselExampleCaptions" class="carousel carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner d-flex">
      <div class="carousel-item" *ngFor="let item of items | latest | slice: 0 : 3; let i = index"
        [ngClass]="i==0 ? 'carousel-item active': 'carousel-item'" data-bs-interval="2500">
        <div class="movie_card_slider">
          <div class="info_section_slider">
            <div class="movie_header_slider">
              <img class="locandina_slider" src="{{item.photo}}" />
              <h1>{{item.name}}</h1>
              <h4>{{item.year}}, {{item.director}}</h4>
              <span class="minutes_slider">{{item.runTime}} min</span>
              <p class="type_slider">{{item.category}}</p>
            </div><br>
            <div class="movie_desc_slider">
              <p class="text_slider">
                {{item.description}}
              </p>
            </div>
          </div>
          <div class="blur_back_slider" style="background: url('{{item.photo}}'); background-size:cover;"></div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="filter">
    <app-filter-form></app-filter-form>
  </div>
</div>
<div class="container-fluid px-5 overflow-hidden" *ngIf="filteredItems | async as items">
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let item of items">
      <app-card [item]="item" [show]="savedMovies.includes(item.id!)" (emitItem)="addOrRemove($event, item)"></app-card>
    </div>
  </div>
</div>