<div class="container-fluid" style="padding: 0;">
  <div class="row">
    <div class="col-9">
      <div class="container-fluid px-5 py-5">
        <div class="row" *ngIf="activeUser; else spinner">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xxl-4" *ngFor="let item of activeUser?.savedMovies">
            <app-card [item]="item" [show]="false" [removeIcon]="true" (emitItem)="getRemove($event, item)"></app-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="dash">
        <img src="{{activeUser?.photo}}">
        <i class="material-icons edit" (click)="toggleform = !toggleform">edit</i>
        <h2 *ngIf="!toggleform">{{activeUser?.firstName}} {{activeUser?.lastName}}</h2>
        <h4 *ngIf="!toggleform">{{activeUser?.email}}</h4>
        <form [formGroup]="editUser" *ngIf="toggleform">
          <mat-form-field appearance="outline" class="uploadPhoto">
            <mat-label>Photo...</mat-label>
            <input matInput formControlName="photo">
          </mat-form-field>
          <input type="file" formControlName="file" accept="image/*" formControlName="file"
            (change)="getValue($event)"><br>
          <mat-form-field appearance="outline">
            <mat-label>First Name...</mat-label>
            <input matInput formControlName="name">
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-label>Last Name...</mat-label>
            <input matInput formControlName="lname">
          </mat-form-field><br>
          <button type="submit" class="btn btn-outline-secondary" [disabled]="!editUser.valid"
            (click)="editTheUser()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="loader"></div>
</ng-template>